notebooks/*
aws-infra/.terraform/*
aws-infra/.terraform.lock.hcl
aws-infra/infra_details/*
mage/.env
mage/metadata.yaml
terraform.tfstate
aws-infra/.DS_Store
mage/.DS_Store
.DS_Store
energy_data_etl/
energy_data_etl/.git
energy_data_etl/.DS_Store
energy_data_etl/.file_versions
energy_data_etl/.gitkeep
energy_data_etl/.log
energy_data_etl/.logs/
energy_data_etl/.mage_temp_profiles
energy_data_etl/.preferences.yaml
energy_data_etl/.variables/
energy_data_etl/__pycache__/
energy_data_etl/docker-compose.override.yml
energy_data_etl/logs/
energy_data_etl/mage-ai.db
energy_data_etl/mage_data/
energy_data_etl/secrets/
energy_data_etl/data/
